.Status {
  padding: 2rem; }
  .Status > .header {
    margin-bottom: 3rem; }
    .Status > .header > .title {
      font-size: 2rem; }
  .Status .body {
    text-align: center; }
    .Status .body .card {
      margin-bottom: 1rem;
      border-radius: .4rem; }
      .Status .body .card .name {
        font-size: 1rem; }
      .Status .body .card .value {
        font-size: 5rem; }
      .Status .body .card .unit {
        margin-left: 5px;
        font-size: 1rem;
        color: #ccc; }
    .Status .body .chart > .header > .title {
      font-size: 2rem;
      margin-bottom: 1rem; }
