.depth0 {
  background-color: #FAFAFA; }

.depth1 {
  background-color: #F5F5F5; }

.depth2 {
  background-color: #EEEEEE; }

.depth3 {
  background-color: #E0E0E0; }

.depth4 {
  background-color: #BDBDBD; }

.depth5 {
  background-color: #9E9E9E; }

.depth6 {
  background-color: #757575; }

.depth6 input, .depth6 span, .depth6 textarea, .depth6 select {
  color: #ffffff; }

.depth7 {
  background-color: #616161; }

.depth7 input, .depth7 span, .depth7 textarea, .depth7 select {
  color: #ffffff; }

.depth8 {
  background-color: #424242; }

.depth8 input, .depth8 span, .depth8 textarea, .depth8 select {
  color: #ffffff; }

.depth9 {
  background-color: #212121; }

.depth9 input, .depth9 span, .depth9 textarea, .depth9 select {
  color: #ffffff; }

.row-name {
  width: 100%;
  position: relative; }

.row-name svg {
  position: absolute;
  top: 50%;
  margin-top: -7px;
  right: .75rem; }

.emptyTableRow {
  padding: .5rem .75rem;
  height: auto;
  line-height: 1.5;
  border: 1px solid #eceeef;
  flex-grow: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-right: -1px; }
