.APIList {
  padding: 2rem; }
  .APIList > .header {
    margin-bottom: 2rem; }
    .APIList > .header .title {
      font-size: 2rem; }
  .APIList > .body > .API {
    margin-bottom: 2rem; }
    .APIList > .body > .API > .title {
      font-size: 1.6rem;
      margin-bottom: 1rem; }
    .APIList > .body > .API > ul {
      padding-left: 2rem; }
      .APIList > .body > .API > ul li {
        margin-bottom: .75rem; }
        .APIList > .body > .API > ul li .label {
          margin-right: .5rem; }
    .APIList > .body > .API code {
      padding: .5rem; }

.code-example {
  padding: 2rem;
  margin: 2rem; }
